<ion-pane>

    <ion-header-bar class="bar-stable">
      <h1 class="title" id="pageTitle">Nasa Picture of the Day</h1>
      <div class="buttons nav">
        <a class="button button-icon icon ion-gear-a icon-right" href="#/settings"></a>
      </div>
    </ion-header-bar>
    <ion-content delegate-handle="mainScroll">
        <ion-list class="wrapping-list">
            <ion-item ng-repeat="apod in apodListing" class="item-text-wrap background-lightblue">
                <div class="h2-blue">{{ apod.title }}</div>
                <div class="h2-blue">{{ apod.img_date }}</div>
                <p>{{ apod.explanation }}</p>
                <div><img src="{{ apod.img_url}}" alt="{{apod.title}}"></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-pane>
