<ion-pane>
    <ion-header-bar class="bar-stable">
        <div class="left"><a href="#/settings">Settings</a></div>
        <h1 class="title"><span id="pageTitle">Nasa Picture of the Day</span></h1>
    </ion-header-bar>
    <ion-content delegate-handle="mainScroll">
        <ion-list class="wrapping-list">
            <ion-item ng-repeat="apod in apodListing | orderBy: '-apodDate'" class="item-text-wrap background-lightblue">
                <div class="h2-blue">{{ apod.title }}</div>
                <div class="h2-blue">{{ apod.img_date }}</div>
                <p>{{ apod.explanation }}</p>
                <div><img src="{{ apod.img_url}}" alt="{{apod.title}}"></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-pane>
