<ion-pane>
    <ion-header-bar class="bar-stable">
      <div class="buttons nav">
        <mybackbutton></mybackbutton>
      </div>
      <h1 class="title">Settings</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-divider">                
                Show Pictures from:
            </div>
            <ion-radio ng-model="numOfDays" ng-value="1" ng-click="setNumOfDays(numOfDays)">Today</ion-radio>
            <ion-radio ng-model="numOfDays" ng-value="7" ng-click="setNumOfDays(numOfDays)">Last 7 Days</ion-radio>
            <ion-radio ng-model="numOfDays" ng-value="14" ng-click="setNumOfDays(numOfDays)">Last 14 Days</ion-radio>
        </div>
    </ion-content>
</ion-pane>


